<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="home.css">
    <ul>
        <li><a class="active" href="/home">Home</a></li>
        <li><a href="/login">login</a></li>
        <li><a href="/myprofile">profile</a></li>
        <li><a href="/users">users</a></li>
        <li><a href="/feed">feed</a></li>
        <li style="float:right"><a href="#about">About</a></li>
    </ul>


    <h2 th:text = "'hello ' + ${username}"> </h2>
</head>
<body>

<header >

</header>
<h1>Hello from Application User Home page </h1><br><br><br>
<h3>Have a nice tower in my Application  </h3><br><br><br>
<h3>I wish you be happy </h3><br>



<form action="/perform_logout" method="get">
<!--    <label for="logout"></label>-->
<!--    <input type="submit" value="Logout" id="logout">-->
    <button class="button">Logout</button>
</form>

</body>
</html>