<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="style.css">
    <ul>
        <li><a href="/signup">signup</a></li>
        <li><a href="/login">login</a></li>
        <li><a href="/myprofile">profile </a></li>
        <li><a href="/users">users</a></li>
        <li><a href="/feed">feed</a></li>
    </ul>
</head>
<body>
<P> All users : </P>

    <div class="w3-container">
        <div class="w3-card" style="width:50%">
            <ul th:each="user: ${users}">
            <img src="https://static.vecteezy.com/system/resources/previews/000/439/863/original/vector-users-icon.jpg" alt="Person" style="width:20%">
            <div class="w3-container">
                <h3 th:text = "${user.username}"> </h3>
                <h3 th:text = "${user.dateOfBirth}"> </h3>
                <h3 th:text = "${user.bio}"> </h3></br></br>

<!--                <form  action="/follow" method="post">-->
<!--                    <input  th:value="${user.id}" name="user_id">-->
<!--                    <button  type="submit">Follow</button>-->
<!--                </form>-->
                <h2 x="${user.id}"></h2>
                <form  method="post" action="/follow/3">
<!--                    <input type="hidden" th:value="${user.id}" name="user_id">-->
                    <button  type="submit">Follow</button>
                </form>
<!--                //method="post" action="/myprofile"-->
                        <form  >
                            <button  type="submit">view page</button>
                        </form>
            </div>
            </ul>
        </div>
    </div>





<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

</body>
</html>